header{
    position: relative;
    height: 60px;
    /*border: 1px solid black;*/
}
header>nav>ul {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
}
header>nav>ul>li{
    display: inline-block;
    padding: 0 20px 0 10px;
}
header>nav>ul>li>a{
    text-decoration: none;
    color: black;
    transition: all 1s;
    font-size: 25px;
}
header>nav>ul>li>a:hover{
    color: gold;
    transition: all 1s;
    font-size: 30px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#menu_mobile{
    display: none;
}



      /*............Header css End.............*/



 #background_img{
     position: relative;
     height: 800px;
     border: 1px solid black;
     background-image: url("../img/dark-paper-layers-wallpaper-with-golden-details_23-2148403401.jpg");
     background-size: cover;
     background-position: center;
 }

               /*...............Responsive.............*/



@media all and (max-width: 425px) {
    #menu_mobile{
        display: flex;
    }
    header>nav{
        display: none;
    }
}

@media all and (min-width: 425px) and (max-width: 768px) {
    #menu_mobile{
        display: flex;
    }
    header>nav{
        display: none;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {

}

@media all and (min-width: 1024px) and (max-width: 1440px) {

}
